<!-- <h1>Password Generator</h1>
<div>
  <label for="">Enter Length</label>
  <input type="number" (input)="onChangeLength($event)">
</div>

<div>
  <label for="">Use Letters</label>
  <input (change)="onChange('letters')" type="checkbox">
</div>

<div>
  <label for="">Use Numbers</label>
  <input (change)="onChange('numbers')" type="checkbox">
</div>

<div>
  <label for="">Use Symbols</label>
  <input (change)="onChange('symbols')" type="checkbox">
</div>

<div>
  <button (click)="onButtonClick()" [disabled]="!(length > 0 && (useLetters || useNumbers || useSymbols))">Generate!</button>
</div>

<div>
  <label for="" >Your Password</label>
  <input [value]="password">
</div>
 -->

 <div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Length</label>
        <input class="input" (input)="onChangeLength($event)" />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChange('letters')" type="checkbox" />
            Use Letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChange('numbers')" type="checkbox" />
            Use Numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChange('symbols')" type="checkbox" />
            Use Symbols
          </label>
        </div>
      </div>

      <button [disabled]="
         !(length > 0 && (useLetters || useNumbers || useSymbols))
        " (click)="onButtonClick()" class="button is-link is-fullwidth">
        Generate!
      </button>

      <div class="box" *ngIf="password">
        <label>Your Password</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>
